<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hotel</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Kbktnf2003!</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name="hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="pl.senla.hotel.entity.facilities.Room"/>
        <mapping class="pl.senla.hotel.entity.Guest"/>
        <mapping class="pl.senla.hotel.entity.services.HotelService"/>
        <mapping class="pl.senla.hotel.entity.OrderDto"/>
        <mapping class="pl.senla.hotel.entity.Order"/>

    </session-factory>
</hibernate-configuration>

